.main-content {
  width: 100%;
}

@media (max-width: ($vp-1024 - 1px)) {
  .main-content {
    margin-top: -100px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .main-content {
    margin-top: -70px;
  }
}
