.page body {
  font-family: $family-mono;
  font-size: 16px;
  color: $color-black-pearl;
  background-color: $color-alice-blue-background;
  position: relative;
}

.page__header {
  margin: 0;
}

@media (max-width: ($vp-768 - 1px)) {
  .page body {
    min-width: 320px;
  }
}
