.container {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}

@media (max-width: ($vp-1024 - 1px)) {
  .container {
    max-width: 1023px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .container {
    max-width: 767px;
    min-width: 320px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
