.contacts {
  padding-right: 30px;
}

.contacts__inner-wrap {
  margin: 0 0 0 auto;
  width: 317px;
}

//.contacts__title-toggle-wrap {
//  margin-left: 10px;
//}

.contacts__title {
  width: 220px;
  margin: 5px 0 22px 0;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.05em;
}

.contacts__list {
  width: 345px;
  margin: 0;
  //margin-left: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.contacts__item {
  margin-bottom: 7px;
  display: block;
}

.contacts__item a,
.contacts span {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
}

.contacts span {
  margin-bottom: 10px;
  //margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}


@media (max-width: ($vp-768 - 1px)) {
  .contacts {
    position: relative;
  }

  .contacts::before {
    width: calc(100% + 50px);
    height: 1px;
    top: 0;
    left: -25px;
    background-color: rgba(248, 253, 255, 0.7);
    content: "";
    position: absolute;
  }

  .contacts::after {
    width: calc(100% + 50px);
    height: 1px;
    bottom: 0;
    left: -25px;
    background-color: rgba(248, 253, 255, 0.7);
    content: "";
    position: absolute;
  }

  .contacts__title {
    margin: 0;
  }

  .contacts.is-closed ul,
  .contacts.is-closed span {
    display: none;
  }

  .contacts.is-open ul {
    display: flex;
    margin-bottom: 10px;
  }

  .contacts.is-open span {
    display: inline-block;
  }

  .contacts.nojs ul {
    display: flex;
    margin-bottom: 10px;
  }

  .contacts.nojs span {
    display: inline-block;
  }
}
