.social-media__list {
  margin: 0;
  padding: 5px 0 0 15px;
  display: flex;
  list-style-type: none;
}

.social-media__item:not(:last-child) {
  margin-right: 25px;
}

.social-media__item svg {
  fill: $color-alice-blue-background;
}

.social-media__item:hover svg {
  fill: $color-deep-sky-blue;
}

@media (max-width: ($vp-1024 - 1px)) {
  .social-media__list {
    padding-top: 10px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .social-media__list {
    padding-left: 0;
  }
}
