.social-media__list {
  width: max-content;
  max-width: 165px;
  margin: 0;
  padding: 0 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

/*.social-media__item:not(:last-child) {
  margin-right: 25px;
}*/

.social-media__item {
  display: flex;
}

.social-media__item:not(:nth-child(3n)) {
  margin-right: 15px;
}

.social-media__item a {
  padding: 5px;
  display: block;
}

.social-media__item svg {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  display: block;
  fill: $color-alice-blue-background;
}

.social-media__item:hover svg {
  fill: $color-deep-sky-blue;
}

@media (max-width: ($vp-1024 - 1px)) {
  .social-media__list {
    margin-right: -5px;
    padding-top: 5px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .social-media__list {
    padding-left: 0;
  }
}
