.company-info__title {
  margin: 0;
  margin-bottom: 15px;
  padding-left: 250px;
  font-size: 36px;
  font-weight: 400;
  line-height: 52px;
  color: $color-black-pearl;
}

.company-info__text {
  margin-bottom: 20px;
  padding-left: 250px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-black-pearl;
  text-align: left;
}

.company-info__image {
  float: left;
}

.company-info__button {
  margin-bottom: 120px;
  margin-left: 100px;
  padding: 14px 50px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: $color-deep-sky-blue;
  background-color: transparent;
  border: 1px solid $color-deep-sky-blue;
}

.company-info__button-less {
  display: none;
}

.company-info__extra-text {
  display: none;
}

@media (max-width: ($vp-1024 - 1px)) {
  .company-info__text {
    min-width: 493px;
    max-width: 743px;
  }

  .company-info__title {
    padding-left: 180px;
    line-height: 51px;
  }

  .company-info__text {
    padding-left: 180px;
  }

  .company-info__button {
    margin-bottom: 80px;
    margin-left: 30px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .company-info__image {
    display: none;
  }

  .company-info__title {
    padding-left: 0;
    font-size: 28px;
    line-height: 39px;
  }

  .company-info__text {
    padding-left: 0;
    font-size: 14px;
    line-height: 19px;
  }

  .company-info__button {
    margin-left: 0;
  }
}
