.company-info__wrap {
  padding-bottom: 184px;
  position: relative;
}

.company-info h2 {
  margin: 0;
  margin-bottom: 12px;
  padding-left: 250px;
  font-size: 36px;
  font-weight: 400;
  line-height: 52px;
  color: $color-black-pearl;
}

.company-info__text-wrap {
  margin-bottom: 20px;
}

.company-info p {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 250px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-black-pearl;
  text-align: left;
}

.company-info p + p {
  margin-bottom: 0;
}

.company-info img {
  float: left;
}

.company-info button {
  padding: 14px 50px;
  bottom: 120px;
  left: 275px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-deep-sky-blue;
  background-color: transparent;
  border: 1px solid $color-deep-sky-blue;
  content: "";
  position: absolute;
}

.company-info__button.show-more .company-info__button-more,
.company-info__button.show-less .company-info__button-less {
  display: inline-block;
  vertical-align: middle;
}

.company-info__button.show-more .company-info__button-less,
.company-info__button.show-less .company-info__button-more {
  display: none;
}

.company-info__button.nojs .company-info__button-less {
  display: inline-block;
  vertical-align: middle;
}

.company-info__button.nojs .company-info__button-more {
  display: none;
}

.company-info__text--less {
  display: block;
  margin-bottom: 20px;
}

.company-info__text--extra.is-closed {
  display: none;
}

.company-info__text--extra.is-open {
  margin-top: 20px;
  display: block;
}

.company-info__text--extra.nojs {
  margin-top: 20px;
  display: block;
}

@media (max-width: ($vp-1024 - 1px)) {
  .company-info__wrap {
    padding-bottom: 124px;
  }

  .company-info__wrap img {
    margin-top: 4px;
  }

  .company-info p {
    min-width: 493px;
    max-width: 743px;
    padding-left: 175px;
    line-height: 21.5px;
  }

  .company-info h2 {
    padding-left: 175px;
    line-height: 51px;
  }

  .company-info button {
    left: 225px;
    bottom: 80px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .company-info__wrap {
    padding-bottom: 113px;
  }

  .company-info img {
    display: none;
  }

  .company-info h2 {
    padding-left: 0;
    font-size: 28px;
    line-height: 39px;
  }

  .company-info__text-wrap {
    margin-bottom: 16px;
  }

  .company-info p {
    min-width: 270px;
    padding-left: 0;
    font-size: 14px;
    line-height: 18.5px;
  }

  .company-info button {
    padding: 9px 40px;
    left: 25px;
    bottom: 80px;
  }

  .company-info button.show-more,
  .company-info button.show-less {
    margin-left: 0;
  }

  .company-info__text--less.is-closed {
    display: none;
  }

  .company-info__text--less.is-closed.nojs {
    display: block;
  }

  .company-info__text--less.is-open {
    display: block;
  }
}
