.feedback {
  padding-top: 170px;
  padding-bottom: 250px;
  background: url("../../../img/background/paper_airplane_desktop@1x.png") 20% 50%/510px 285px no-repeat,
  url("../../../img/svg/polygon-background.svg") top left/contain no-repeat,
  linear-gradient(to top, $color-deep-sky-blue-bg, $color-deep-sky-blue-bg) center/cover no-repeat;

}

.feedback__inner-wrap {
  width: 580px;
  margin: 0 0 0 auto;
}

.feedback__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  color: $color-default-white;
}

.feedback__promo-text {
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;
}
