.feedback {
  padding-top: 165px;
  padding-bottom: 249px;
  background: url("../img/background/paper_airplane_desktop@1x.png") 24% 44%/510px 285px no-repeat,
    url("../img/svg/polygon-background.svg") top left/contain no-repeat,
    linear-gradient(to top, $color-deep-sky-blue-bg, $color-deep-sky-blue-bg) center/cover no-repeat;

  @media (max-width: ($vp-1024 - 1px)) {
    background: url("../img/background/paper_airplane_desktop@2x.png") 24% 44%/510px 285px no-repeat,
      url("../img/svg/polygon-background.svg") top left/contain no-repeat,
      linear-gradient(to top, $color-deep-sky-blue-bg, $color-deep-sky-blue-bg) center/cover no-repeat;
  }
}

.feedback__inner-wrap {
  width: 595px;
  margin: 0 0 0 auto;
}

.feedback h2 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  color: $color-default-white;
}

.feedback p {
  margin: 0 0 35px 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;
}

.feedback form {
  margin: 0 auto;
}

@media (max-width: ($vp-1024 - 1px)) {
  .feedback {
    padding-top: 45px;
    padding-bottom: 123px;
    background-image: none;
    background-color: $color-deep-sky-blue-bg;
  }

  .feedback__inner-wrap {
    width: 100%;
    margin: 0 auto;
  }

  .feedback__title-text-wrap {
    margin: 0 auto;
  }

  .feedback h2 {
    margin-bottom: 6px;
  }

  .feedback p {
    margin-left: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .feedback {
    padding-bottom: 87px;
  }

  .feedback h2 {
    font-size: 30px;
    line-height: 42px;
  }

  .feedback p {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 19px;
  }
}
