.form {
  max-width: 580px;
  display: flex;
  flex-wrap: wrap;
}

.form input {
  width: 275px;
  height: 50px;
  margin-bottom: 20px;
}

.form__name-field {
  margin-right: 30px;
}

.form button {
  margin-right: 45px;
  padding: 14px 70px;
  font-family: $family-roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;
  background-color: $color-black-pearl-button;
  border-width: 0;
  border-radius: 3px;
  order: 1;
  cursor: pointer;
}

.form button.is-inactive {
  pointer-events: none;
}

.form button.is-active {
  pointer-events: auto;
}

.form__question-textarea {
  margin-bottom: 27px;
}

.form textarea {
  width: 580px;
  min-height: 155px;
}

.form__consent-checkbox {
  width: 260px;
  padding-top: 15px;
  order: 2;
}

.form__consent-checkbox span {
  top: 22px;
  left: 0;
}

.form__consent-checkbox input {
  margin: 0;
}

@media (max-width: ($vp-1024 - 1px)) {
  .form {
    max-width: 670px;
  }

  .form__name-field {
    width: calc((100% - 30px)/2);
  }

  .form__telephone-field {
    width: calc((100% - 30px)/2);
  }

  .form input {
    width: 100%;
    min-width: 320px;
  }

  .form__question-textarea {
    width: 100%;
    margin-bottom: 29px;
  }

  .form textarea {
    width: 100%;
    min-width: 670px;
  }

  .form__consent-checkbox {
    padding-top: 11px;
  }

  .form__consent-checkbox span {
    top: 18px;
  }

  .form button {
    margin-right: 85px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .form {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .form__name-field {
    width: 100%;
    margin-right: 0;
  }

  .form__telephone-field {
    width: 100%;
  }

  .form button {
    margin-right: 0;
    padding: 14px 70px 12px 70px;
  }

  .form__question-textarea {
    margin-bottom: 25px;
  }

  .form__question-textarea textarea {
    min-height: 180px;
    padding: 25px 15px;
  }

  .form input,
  .form textarea {
    min-width: 270px;
  }

  .form__consent-checkbox {
    padding: 25px 5px 0 5px;
  }

  .form__consent-checkbox span {
    top: 32px;
    left: 5px;
  }
}
