.navigation {
  width: 100%;
  display: grid;
  grid-template-columns: 215px auto;
  gap: 30px;
}

.navigation__user-nav {
  margin: 0 0 0 auto;
}

.navigation__logo-link {
  width: 215px;
  height: 55px;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: ($vp-768 - 1px)) {
  .navigation {
    grid-template-columns: 35px auto;
  }

  .navigation__logo-link img {
    width: 35px;
    height: 35px;
  }

  .navigation__logo-link picture {
    width: 35px;
    height: 35px;
  }
}
