.navigation {
  width: 100%;
  display: flex;
}

.navigation__user-nav {
  margin: 0 0 0 auto;
}

.navigation__logo-link {
  width: 215px;
  height: 55px;
  display: inline-block;
}

@media (max-width: ($vp-1024 - 1px)) {
  .navigation__user-nav {
    padding-right: 10px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .navigation__logo-link img {
    width: 35px;
    height: 35px;
  }
}
