.user-navigation__list {
  min-width: 715px;
  max-width: 815px;
  margin: 0;
  margin-right: 62px;
  padding: 0;
  display: flex;
}

.user-navigation__item {
  width: 225px;
  margin-top: 16px;
  margin-left: 32px;
  position: relative;
}

.user-navigation__item--callback {
  width: 160px;
  font-family: $family-roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.user-navigation__item a {
  width: 100%;
  margin-right: 30px;
  display: flex;
  color: $color-alice-blue;
  text-decoration: none;
  text-align: left;
}

.user-navigation__item svg {
  margin-right: 15px;
}

.user-navigation__item--callback {
  width: min-content;
  margin-top: 5px;
  margin-left: 147px;
}

.user-navigation__item--callback button {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: $color-alice-blue;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  background-color: transparent;
}

@media (max-width: ($vp-1024 - 1px)) {
  .user-navigation__list {
    min-width: 100px;
    max-width: 400px;
  }

  .user-navigation__item {
    width: min-content;
  }

  .user-navigation__link span {
    display: none;
  }

  .user-navigation__item--callback {
    display: none;
  }
}
