.user-navigation {
  width: 100%;
}

.user-navigation__list {
  width: 100%;
  min-width: 545px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.user-navigation__item {
  min-width: 160px;
  padding-left: 20px;
  position: relative;
}

.user-navigation__item--mail {
  max-width: 262px;
  grid-column: 1/2;
}

.user-navigation__item--telephone {
  max-width: 300px;
  min-width: 225px;
  grid-column: 2/3;
}

.user-navigation__item--callback {
  max-width: 232px;
  grid-column: 3/4;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.user-navigation__item--callback {
  margin-top: 5px;
}

.user-navigation__item a {
  width: max-content;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  color: $color-alice-blue;
  text-decoration: none;
  text-align: left;
}

.user-navigation__item svg {
  margin-right: 15px;
}

.user-navigation__item--callback button {
  margin-left: auto;
  margin-right: 0;
  padding: 10px 16px;
  float: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: $color-alice-blue;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  background-color: transparent;
}

@media (max-width: ($vp-1024 - 1px)) {
  .user-navigation__list {
    width: max-content;
    min-width: 100px;
    max-width: 400px;
    margin-right: 20px;
    margin-left: auto;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .user-navigation__item {
    width: min-content;
    min-width: 40px;
    min-height: 40px;
    margin-bottom: auto;
    padding-left: 0;
  }

  .user-navigation__item a {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .user-navigation__item svg {
    margin: auto;
  }

  .user-navigation__link span {
    display: none;
  }

  .user-navigation__item--callback {
    display: none;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .user-navigation__list {
    margin-right: 10px;
  }
  .user-navigation__item {
    margin-top: 0;
  }

  .user-navigation a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
