.input-textarea-wrap {
  position: relative;
}

.input-textarea-wrap input,
.input-textarea-wrap textarea {
  padding: 15px;
  box-sizing: border-box;
  font-family: $family-mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;
  background-color: rgba(4, 20, 39, 0.15);
  border-width: 0;
  border-radius: 3px;
  cursor: text;
}

.input-textarea-wrap textarea {
  padding: 25px 15px;
}

.input-textarea-wrap input::placeholder,
.input-textarea-wrap textarea::placeholder {
  font-family: $family-mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;
}

.input-textarea-wrap input:hover,
.input-textarea-wrap textarea:hover {
  outline: 1px solid $color-black-pearl-button;
}


.input-textarea-wrap em {
  display: none;
}

.input-textarea-wrap .input-textarea-wrap__show-tip {
  display: block;
  position: absolute;
  top: 53px;
  left: 5px;
  z-index: 5;
  font-family: $family-mono;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: $color-scarlett;
}

@media (max-width: ($vp-1024 - 1px)) {
  .input-textarea-wrap textarea {
    padding-top: 30px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .input-textarea-wrap textarea {
    padding-top: 24px;
  }
}
